div(id='prov-modal').w3-modal
    .w3-modal-content.w3-card-4
        .w3-container
            br
            form(action="/update-" + index, method="post")
                label Nova província
                input.w3-input.w3-border(type="text" name="prov")
                br
                input.w3-quarter.w3-btn.w3-blue-gray.w3-margin-right(type="submit" value="Ok")
            button.w3-quarter.w3-btn.w3-blue-gray(
                onclick="document.getElementById('prov-modal').style.display='none'"
            ) Cancelar
            br
            br

div(id='local-modal').w3-modal
    .w3-modal-content.w3-card-4
        .w3-container
            br
            form(action="/update-" + index, method="post")
                label Novo local
                input.w3-input.w3-border(type="text" name="local")
                br
                input.w3-quarter.w3-btn.w3-blue-gray.w3-margin-right(type="submit" value="Ok")
            button.w3-quarter.w3-btn.w3-blue-gray(
                onclick="document.getElementById('local-modal').style.display='none'"
            ) Cancelar
            br
            br

div(id='tit-modal').w3-modal
    .w3-modal-content.w3-card-4
        .w3-container
            br
            form(action="/update-" + index, method="post")
                label Novo título
                input.w3-input.w3-border(type="text" name="tit")
                br
                input.w3-quarter.w3-btn.w3-blue-gray.w3-margin-right(type="submit" value="Ok" )
            button.w3-quarter.w3-btn.w3-blue-gray(
                onclick="document.getElementById('tit-modal').style.display='none'"
            ) Cancelar
            br
            br

div(id='musico-modal').w3-modal
    .w3-modal-content.w3-card-4
        .w3-container
            br
            form(action="/update-" + index, method="post")
                label Novo músico
                input.w3-input.w3-border(type="text" name="musico")
                br
                input.w3-quarter.w3-btn.w3-blue-gray.w3-margin-right(type="submit" value="Ok")
            button.w3-quarter.w3-btn.w3-blue-gray(
                onclick="document.getElementById('musico-modal').style.display='none'"
            ) Cancelar
            br
            br

div(id='inst-modal').w3-modal
    .w3-modal-content.w3-card-4
        .w3-container
            br
            form(action="/update-" + index, method="post")
                label Novos instrumentos
                input.w3-input.w3-border(type="text" name="inst")
                br
                input.w3-quarter.w3-btn.w3-blue-gray.w3-margin-right(type="submit" value="Ok")
            button.w3-quarter.w3-btn.w3-blue-gray(
                onclick="document.getElementById('inst-modal').style.display='none'"
            ) Cancelar
            br
            br

div(id='obs-modal').w3-modal
    .w3-modal-content.w3-card-4
        .w3-container
            br
            form(action="/update-" + index, method="post")
                label Novas observações
                input.w3-input.w3-border(type="text" name="obs")
                br
                input.w3-quarter.w3-btn.w3-blue-gray.w3-margin-right(type="submit" value="Ok" )
            button.w3-quarter.w3-btn.w3-blue-gray(
                onclick="document.getElementById('obs-modal').style.display='none'"
            ) Cancelar
            br
            br

div(id='file-modal').w3-modal
    .w3-modal-content.w3-card-4
        .w3-container
            br
            form(action="/update-" + index, method="post")
                label Novo ficheiro
                input.w3-input.w3-border(type="text" name="file")
                br
                input.w3-quarter.w3-btn.w3-blue-gray.w3-margin-right(type="submit" value="Ok")
            button.w3-quarter.w3-btn.w3-blue-gray(
                onclick="document.getElementById('file-modal').style.display='none'"
            ) Cancelar
            br
            br

div(id='duracao-modal').w3-modal
    .w3-modal-content.w3-card-4
        .w3-container
            br
            form(action="/update-" + index, method="post")
                label Nova duração
                input.w3-input.w3-border(type="text" name="duracao")
                br
                input.w3-quarter.w3-btn.w3-blue-gray.w3-margin-right(type="submit" value="Ok")
            button.w3-quarter.w3-btn.w3-blue-gray(
                onclick="document.getElementById('duracao-modal').style.display='none'"
            ) Cancelar
            br
            br
