.w3-ul.w3-card.w3-large
        for doc, index in docs
            li.w3-bar
                div.w3-bar-item
                    a(href="/song-" + index)
                        b.w3-large= doc['tit']
                    br
                    span.w3-medium= doc['musico']
                
                button.w3-button.w3-bar-item.w3-right(
                    onclick="document.getElementById('delete-modal').style.display='block'"
                )
                    span.w3-large &times;
                
                button.w3-btn.w3-bar-item.w3-right.w3-blue-gray(
                    onclick="document.getElementById('edit-modal').style.display='block'"
                ) Editar

            div(id='delete-modal').w3-modal
                .w3-modal-content.w3-animate-top.w3-card-4
                    .w3-container
                        p Deseja apagar esta música?
                        .w3-container
                            form(
                                action="/delete-" + index, 
                                method="post",
                            ).w3-quarter
                                input.w3-btn.w3-blue-gray(
                                    type="submit"
                                    value="Sim, quero apagar."
                                )
                            .w3-btn.w3-quarter.w3-blue-gray(
                                onclick="document.getElementById('delete-modal').style.display='none'"
                            ) Cancelar
                    br

            div(id='edit-modal').w3-modal
                .w3-modal-content.w3-animate-top.w3-card-4
                    .w3-container
                        p O que quer editar?
                        .w3-container
                            button.w3-quarter.w3-button.w3-border.w3-border-blue-gray(
                                onclick="document.getElementById('prov-modal').style.display='block'"
                            ) Província
                            button.w3-quarter.w3-button.w3-border.w3-border-blue-gray(
                                onclick="document.getElementById('local-modal').style.display='block'"
                            ) Local
                            button.w3-quarter.w3-button.w3-border.w3-border-blue-gray(
                                onclick="document.getElementById('tit-modal').style.display='block'"
                            ) Título
                            button.w3-quarter.w3-button.w3-border.w3-border-blue-gray(
                                onclick="document.getElementById('musico-modal').style.display='block'"
                            ) Músico
                            button.w3-quarter.w3-button.w3-border.w3-border-blue-gray(
                                onclick="document.getElementById('inst-modal').style.display='block'"
                            ) Instrumento
                            button.w3-quarter.w3-button.w3-border.w3-border-blue-gray(
                                onclick="document.getElementById('obs-modal').style.display='block'"
                            ) Observações
                            button.w3-quarter.w3-button.w3-border.w3-border-blue-gray(
                                onclick="document.getElementById('file-modal').style.display='block'"
                            ) Ficheiro
                            button.w3-quarter.w3-button.w3-border.w3-border-blue-gray(
                                onclick="document.getElementById('duracao-modal').style.display='block'"
                            ) Duração
                            br
                            br
                            br
                            br
                            .w3-btn.w3-quarter.w3-blue-gray(
                                onclick="document.getElementById('edit-modal').style.display='none'"
                            ) Cancelar
                    br

            include key-modals
                        
